*{
    margin: 0;
    padding: 0;
}
     /* header section starts */

.header h1{
    font-family: 'Prata', serif;
    font-size: 3em;
    padding-left: 15px;
    margin: 10px;
}
.header-line{

    border-left: 5px solid tomato;
    border-radius: 5px;
}

.header{
    display: flex;
    margin: 55px;
}


.head-container{
    width: 50%;
    margin: 60px;
    padding: 20px;
    position: relative;
}

.head-container img{
    width: 70%;
    position: absolute;
    bottom: -30px;
}
.span{
    color: orange;
}

    /* style for all anchor tag  */

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: tomato;
    color: white;
    display: inline-block;
    margin: 15px 0px;
    padding: 10px 25px ;
    border-radius: 5px;
}

      /* style for most of the paragraph tag */
      
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    text-align: justify;
}
     /* mission section starts */

.mission-section{
    margin: 60px;
}
.mission-section h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin: 30px;
}
.missions-container{
    display: flex;
    justify-content:center;
   
}
.missions{
   
    width: 25%;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
}
.missions img {
    width: 40%;
}
.missions h3{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.m1{
    background-color:rgba(129, 236, 236,0.25);
}
.m2{
    background-color:rgba(250, 177, 160,0.25);
}
.m3{
    background-color: rgba(255, 234, 167,0.25);
}
        /* documentation section starts */

.documention-section{
    margin: 70px;
    margin-bottom: 150px;
    display: flex;
    justify-content:center;
}

.document-container{
    width: 50%;
    padding: 10px;
    position: relative;
}

.documention-section img {
    width: 60%;
    position: absolute;
    right:60px;
}
.documention-section h2{
    font-family:'Oswald', sans-serif;
    font-size: 35px;
    margin: 0;
    letter-spacing: 2px;
}

        /* contract section starts  */

.contract-section{
    margin: 20px;
}
.contract-section h2{
  font-family:'Oswald', sans-serif ;
  font-size: 50px;
  text-align: center;
  letter-spacing: 3px;
  margin: 20px;
}
.contract-container{
    display: flex;
}
.contract{
    width: 50%;
}
.input{
    display: inline-block;
    width: 80%;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid gainsboro;
  border-radius: 5px;
}
.contract h2{
    font-family:'Oswald', sans-serif;
    font-size: 25px;
}

.our-contract h5{
    font-family:'Oswald', sans-serif;
    font-size: 15px;
    border-left:2px solid tomato ;
    padding-left:10px ;
    margin-bottom: 15px;
}
.our-contract p{
    margin-bottom: 20px;
}


    /* footer parts  */

footer{
    width: 100%;
    height: 180px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
footer h2{
    font-family: 'Prata', serif;
    font-size: 30px;
    margin: 30px;
    margin-bottom: 10px;
    padding: 10px;
}
footer p{
    font-family: 'Prata', serif;
    font-size: 12px;
}